head,body{
    padding:0;
    margin: 0;
    font-size: large;
}
/*navbar*/
.title{
    margin-left: 10px;
    padding-left: 50px;
    font-size: 24px;
}
img{
    height:190px;
    width: auto;
}
ul{
    list-style-type: none;
    display: flex;
     gap: 50px;
     margin-right: 15px;
}

a{
    text-decoration: none;
    color: white;
}
h3{
    color: white;
}
.navbar{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    height: 60px;
}
button{
    color: white;
    background-color: #3882F6;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    margin-right: 50px;
    width:100px ;
}
/*Hero section*/
.hero{
    background-color: #1f2937;
    color:#F9FAF8;
    display: flex;
    padding-bottom: 100px;
    padding-left:18px;
    
}
.hero h1{
    font-weight: 800;
}
.hero_para{
    flex: 2 1 0;
    font-size:48px;
    color: F9FAF8;
    justify-content: flex-end;
    padding-left: 50px;
}
.hero_para p{
    font-size:24px ;
    
}
.sign_button{
    width: 100px;
}
.hero_pic{
    justify-self: center;
    align-self: center;
    padding-right: 50px;
}
/*Projects section*/
.Projects{
    display: flex;
    flex-direction: column;
   height: 50%;
   
}
.projects h2{
    padding-top: 20px;
    font-size: 36px;
    font-weight: 9;
    color:#1F2937;
    text-align: center;
}
.project_pic{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;

    font-weight: 800;
    padding-bottom: 50px;
}
.project_pic img{
    border-radius: 25px;
    border-color: #000000;
    border-style: solid;
}
/*Quote section*/
.quote{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    height: 200px;
    font-size: 36px;
    font-style: italic;
    text-align: center;
    padding-top: 40px;
    font-weight: lighter;
}
.quote_by{
    text-align: end;
    padding-right: 40px;
    padding-top: 0;
    margin-top: -20px;
}
/*Sign up section*/
.sign{
    display: flex;
    background-color: #3882F6;
    color: white;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    padding-bottom: 34px;
    padding-top: 30px;
}
.sign button{
    border-style: solid;
    border-color: white;
    width: 150px;
    justify-self: center;
    align-self: center;
    margin-left: 20px;
}
.sign{
    flex:2 1 0;
    padding-left: 70px;
    
}
/*Footer section*/
.footer{
    background-color: #1f2937;
    margin: 0;
    padding: 0;
    height: 50px;
    color: #F9FAF8;
    text-align: center;
    padding-top: px;
}
